:root {
  --app-background: rgba(243, 245, 250, 1);
  --app-primary: rgba(84, 180, 106, 1);
  --black: rgba(0, 0, 0, 1);
  --dark-gray: rgba(134, 142, 150, 1);
  --gray: rgba(206, 212, 218, 1);
  --light-gray: rgba(222, 226, 230, 1);
  --primary-bg: rgba(231, 250, 235, 1);
  --primary-bg-dark: rgba(214, 240, 220, 1);
  --primary-dark: rgba(59, 148, 78, 1);
  --white: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--app-background);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
